.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

       /* código omitido */

.lista-menu {
    display: none;
    position: absolute;
    top:100%;
}

/* código omitido */


}

.container__botao:checked ~ .lista-menu {
    display: block;
}
    {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("borboleta.png");
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    border-radius: 0 0 20px 20px;
    background-color: var(--branco);
  }
  
  .lista-menu__titulo,
  .lista-menu__item {
    padding: 1em;
  }
  .lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
  }
  .container__botao {
    display: none;
  }